#commentform{
border:1px solid #eee;
width:766px; padding-right:12px;
margin:10px; padding-bottom:10px;
height:auto; margin-top:0;
background:#FFF;
			overflow:auto;

}
.imagedetail{
width:550px;
height:300px;
}
.linehr{
	width:93%;
	margin-left:20px;
	color:#eee;
}
#contentwrapper
{
	margin:10px; margin-right:0px; text-align:justify;
	
}
#form-coments
{
	border:1px solid #eee;
	background:#ccf;
	width:585px;
	height:450px;
	margin:15px;
}
.name{
	width:100px;
	height:auto;
	margin-left:20px;
	margin-top:20px;
	

}
.name input{
width:150px;
padding:4px;
}
#email{
width:300px;
height:60px;
}
#submit{
margin-left:15px;
margin-top:20px;
}
#boxcont
{
background: #FFF;
width: 518px;
height: auto;
margin:10px;
}
#a {
border:15px solid #630;
background: #FFF;
width: 530px;
height: auto;
margin-left:16px;
margin-bottom:15px;
}
#summ{
font-weight:bold;
margin:15px;

}
#bodydetail
{
margin:10px; margin-right:0; text-align:justify;
}
#imagedetail
{
	margin:15px;
}
#trackheader{
	font-size:22px;
	font-weight:bold;
	padding:10px;
	background:#CCC;
}
.tabletrack{
 background: none repeat scroll 0 0 #000000;
    border: 1px solid #CCCCFF;
    float: left;
    height: auto;
    width: 300px;
}
#rowtrack
{
  background: none repeat scroll 0 0 #CCCCFF;
    border: 1px solid #FFFFFF;
    height: 20px;
    padding-left: 8px;
    width: 290px;
}
#subheadings{
padding:10px;
}
#trackside{
	border: 1px solid #CCCCFF;
    float: right;
    height: auto;
    margin-top: 2px;
    padding: 10px;
    width: 300px;
}
.maindiv{
	width:550px;
	height:auto;
	float:left;
	over-flow:auto;
	border-bottom:1px solid #99C;
}
#contact{
padding:10px;
font-weight:bold;


}

#trip-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 2px 2px 2px 2px;
    box-shadow: -1px 0 8px rgba(0, 0, 0, 0.4);
    float: left;
    margin: 15px 0;
    padding: 4px;
    width: 745px;
}

#trip-box-in{
	 background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
    float: left;
    padding: 0; margin:5px; 5px 8px 5px; padding-bottom:8px;
    width: 734px;}
	
#trip-box-in h3 {
    background: none repeat scroll 0 0 #EFECE6;
    font: bold 16px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 5px 10px;
    text-shadow: 0 1px 1px #FFFFFF;
}


.trip-box {
    color: #666666;
    float: left;
    font: 12px/1.5 Arial,Helvetica,sans-serif;
    padding: 10px 7px;
    width: 230px; height:305px;
}


.trip-box h4 {
    color: #881A05;
    font: bold 12px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}

.trip-box h4 span {
    font: bold 12px Arial,Helvetica,sans-serif !important;
}


.trip-box h4 a {
    color: #0033AA;
    text-decoration: none; font-size:14px;
}


.trip-box img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
}

.fdpkg_head h2{background: none repeat scroll 0 0 #315376;
    color: #FFFFFF;
    font-size: 14px;
    height: 32px;
    line-height: 33px;
    padding: 0 18px;
}

.enq a{color:#FF5555; font-weight:bold; float:right;}
.enq a:hover{ color:#7D0000;}
.departure_enquiry{color: #FF5555;
    font-weight: bold;}
.departure_enquiry:hover{color:#9B0000;}



.view {
    background: none repeat scroll 0 0 #2874EC;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF; float:left;
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 10px;
}
.view:hover{ color:#C5C5C5}


.enquiry {
    background:#930000;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF; float:right;
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 10px;
}
.enquiry:hover{ color:#C5C5C5}



